{% extends "base.html" %}

{% block confession %}

<div class="center"> 
    <h1> Confession Wall</h1>
</div>


<div>
    <form action="" method= "post">
        {{form.hidden_tag()}}
        <div id="confessionForm">
            <a id="confMessageLabel"> What is your confession? </a>
                {{ form.confessionMessage(size=512, id='confMessage')}}
            <a id="confMessageLabel2">  Who is it from?</a>
                {{ form.confessionFrom(size=64, id='confFrom')}}
                <div>
                    <button id="submitConf" class="btn submit"> Send Confession </button>
                </div>
        </div>
    </form>
</div>

<hr>


<div>
    <div>
        {% for conf in range(Allconfessions|length-1,0,-1) %}

        <div class="EachConfession">
            <div class="confessionMessage">
                <a> {{ Allconfessions[conf].confessionMessage }} </a>

            </div>
            <div class="confessionFrom">
                <a> {{ Allconfessions[conf].confessionFrom }}</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>





   
      


{% endblock %}