{% extends "base.html" %}


{% block register %}

<div class="center">
    <h1> Creating Envelope </h1>
    <div class="paper">

        <form action="" method="post" novalidate>
          {{ form.hidden_tag() }}
            <h2>{{ form.username.label }}</h2>
            {{ form.username(size=64) }}

            <!-- styling is linked to base.css, input -->
            <h2>{{ form.fams.label }}</h2>
            {% for option in form.fams %}
              {{ option }} {{ option.label }}
            {% endfor %}

            <!-- styling is linked to base.css, input -->
            <h2>{{ form.image_file.label }}</h2>
            {{ form.image_file }}

            <h2>{{ form.password.label }}</h2>
            {{ form.password(size=32) }}
            <br>

            <button class="btn btn-primary"> Create Account </button>

        </form>

    </div>
</div>


{% endblock %}
