{% extends "base.html" %}


{% block register %}

<div class="center">
    <h1> Creating Envelope </h1>
    <div class="paper">

        <form action="" method="post" novalidate>
          {{ form.hidden_tag() }}

            <!-- Username Input -->
            <h2>{{ form.username.label }}</h2>
            {{ form.username(size=64) }}

            <!-- Family Choice -->
            <h2>{{ form.famchoice.label }}</h2>
            {{ form.famchoice(class_='famChoice') }}

            <!-- Password Input -->
            <h2>{{ form.password.label }}</h2>
            {{ form.password(size=32) }}
            
            <br>
            <br>

            <button class="btn submit"> Create Account </button>

        </form>

    </div>
</div>


{% endblock %}
