{% extends "base.html" %}


{% block register %}

<div class="center">
    <h1> Creating Envelope </h1>
    <div class="paper">

        <form action="" method="post" novalidate>
          {{ form.hidden_tag() }}
            <h2>{{ form.name.label }}</h2>
            {{ form.name(size=64) }}

            <h2> Family </h2>
            {{ form.fam.label }}

            <h2>{{ form.name.label }}</h2>
            {{ form.password(size=32) }}
            <br>

            <button class="btn btn-primary"> Create Account </button>

        </form>

    </div>
</div>



{% endblock %}
