{% extends "base.html" %}

{% block gallery %}
    <h1 class="center"> Welcome to Gallery</h1>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

<div class="center">
    <h4> You can click on these people to start writing your affirmations!</h4>
</div>

<!-- TO LIST ALL USERNAMES  -->
<!-- <div>
    {% for user in Alluser %}
        <a href="/user/{{user.username}}">
                <div class="mailGallery">
                <div class="coverGallery"></div>
                <div class="letterGallery"><h1>{{user.username}}</h1></div>
                </div>
        </a>
    {% endfor %}
</div> -->

<div id="galleryBoard" class="container-fluid">
    <div class="row">
        <div class="col-md-3">
           <div>
            {% for i in range(0,Alluser|length,4 ) %}
                <a href="/user/{{Alluser[i].username}}">
                    {% if Alluser[i].family == 'Blue' %}
                        <div class="mailGalleryBlue">
                            <div class="coverGalleryBlue"></div>
                            <div class="letterGallery"> <h1> {{Alluser[i].username}}</h1></div>
                        </div>
                    {% elif Alluser[i].family == 'Red' %}
                        <div class="mailGalleryRed">
                            <div class="coverGalleryRed"></div>
                            <div class="letterGalleryRed"> <h1> {{Alluser[i].username}}</h1></div>
                        </div>
                    {% elif Alluser[i].family == "Yellow" %}
                        <div class="mailGalleryYellow">
                            <div class="coverGalleryYellow"></div>
                            <div class="letterGallery"> <h1> {{Alluser[i].username}}</h1></div>
                        </div>
                    {% elif Alluser[i].family == "Green" %}
                        <div class="mailGalleryGreen">
                            <div class="coverGalleryGreen"></div>
                            <div class="letterGallery"> <h1> {{Alluser[i].username}}</h1></div>
                        </div>
                    {% endif %}
                </a>
            {% endfor %}
        </div>
        
        </div>

        <div class="col-md-3">  
                <div>        
                    {% for i in range(0,Alluser|length,4 ) %}
                        {% if i < (Alluser|length - 2) %}
                        <a href="/user/{{Alluser[i+1].username}}">
                            {% if Alluser[i+1].family == 'Blue' %}
                                <div class="mailGalleryBlue">
                                    <div class="coverGalleryBlue"></div>
                                    <div class="letterGallery"> <h1> {{Alluser[i+1].username}}</h1></div>
                                </div>
                            {% elif Alluser[i+1].family == 'Red' %}
                                <div class="mailGalleryRed">
                                    <div class="coverGalleryRed"></div>
                                    <div class="letterGallery"> <h1> {{Alluser[i+1].username}}</h1></div>
                                </div>
                            {% elif Alluser[i+1].family == "Yellow" %}
                                <div class="mailGalleryYellow">
                                    <div class="coverGalleryYellow"></div>
                                    <div class="letterGallery"> <h1> {{Alluser[i+1].username}}</h1></div>
                                </div>
                            {% elif Alluser[i+1].family == "Green" %}
                                <div class="mailGalleryGreen">
                                    <div class="coverGalleryGreen"></div>
                                    <div class="letterGallery"> <h1> {{Alluser[i+1].username}}</h1></div>
                                </div>
                            {% endif %}
                        {% endif %}
                    </a>
                    {% endfor %}
                </div>

        </div>

        <div class="col-md-3">
                {% for i in range(0,Alluser|length,4 ) %}
                    {% if i < (Alluser|length - 2) %}
                    <a href="/user/{{Alluser[i+2].username}}">
                        {% if Alluser[i+2].family == 'Blue' %}
                            <div class="mailGalleryBlue">
                                <div class="coverGalleryBlue"></div>
                                <div class="letterGallery"> <h1> {{Alluser[i+2].username}}</h1></div>
                            </div>
                        {% elif Alluser[i+2].family == 'Red' %}
                            <div class="mailGalleryRed">
                                <div class="coverGalleryRed"></div>
                                <div class="letterGallery"> <h1> {{Alluser[i+2].username}}</h1></div>
                            </div>
                        {% elif Alluser[i+2].family == "Yellow" %}
                            <div class="mailGalleryYellow">
                                <div class="coverGalleryYellow"></div>
                                <div class="letterGallery"> <h1> {{Alluser[i+2].username}}</h1></div>
                            </div>
                        {% elif Alluser[i+2].family == "Green" %}
                            <div class="mailGalleryGreen">
                                <div class="coverGalleryGreen"></div>
                                <div class="letterGallery"> <h1> {{Alluser[i+2].username}}</h1></div>
                            </div>
                        {% endif %}
                    {% endif %}
                </a>
                {% endfor %}
        </div>

        <div class="col-md-3">
            {% for i in range(0,Alluser|length,4 ) %}
                {% if i < (Alluser|length - 3) %}
                <a href="/user/{{Alluser[i+3].username}}">
                    {% if Alluser[i+3].family == 'Blue' %}
                        <div class="mailGalleryBlue">
                            <div class="coverGalleryBlue"></div>
                            <div class="letterGallery"> <h1> {{Alluser[i+3].username}}</h1></div>
                        </div>
                    {% elif Alluser[i+3].family == 'Red' %}
                        <div class="mailGalleryRed">
                            <div class="coverGalleryRed"></div>
                            <div class="letterGalleryRed"> <h1> {{Alluser[i+3].username}}</h1></div>
                        </div>
                    {% elif Alluser[i+3].family == "Yellow" %}
                        <div class="mailGalleryYellow">
                            <div class="coverGalleryYellow"></div>
                            <div class="letterGallery"> <h1> {{Alluser[i+3].username}}</h1></div>
                        </div>
                    {% elif Alluser[i+3].family == "Green" %}
                        <div class="mailGalleryGreen">
                            <div class="coverGalleryGreen"></div>
                            <div class="letterGallery"> <h1> {{Alluser[i+3].username}}</h1></div>
                        </div>
                    {% endif %}
                {% endif %}
            </a>
            {% endfor %}
        </div>     
    </div>
</div>
{% endblock %}
