{% extends "base.html" %}

{% block gallery %}
    <h1 class="center"> Welcome to Gallery</h1>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

<div class="center">
    <h4> Hello {{current_user.username}}! You are in {{current_user.family}} fam. </h4>
    <h4> You can click on these people to start writing your affirmations!</h4>
</div>

<!-- TO LIST ALL USERNAMES  -->
<!-- <div>
    {% for user in Alluser %}
        <a href="/user/{{user.username}}">
                <div class="mailGallery">
                <div class="coverGallery"></div>
                <div class="letterGallery"><h1>{{user.username}}</h1></div>
                </div>
        </a>
    {% endfor %}
</div> -->

<div id="galleryBoard" class="container-fluid">
    <div class="row">
        <div class="col-md-3">
           <div>
            {% for i in range(0,Alluser|length,4 ) %}
                <a href="/user/{{Alluser[i].username}}">
                    <div class="mailGallery">
                        <div class="coverGallery"></div>
                        <div class="letterGallery"> <h1> {{Alluser[i].username}}</h1></div>
                    </div>
                </a>
            {% endfor %}
        </div>
        
        </div>

        <div class="col-md-3">  
                <div>
                    
                    {% for i in range(0,Alluser|length,4 ) %}
                    {% if i < (Alluser|length - 2) %}
                        <a href="/user/{{Alluser[i+1].username}}">
                            <div class="mailGallery">
                                <div class="coverGallery"></div>
                                <div class="letterGallery"> <h1> {{Alluser[i+1].username}}</h1></div>
                            </div>
                        </a>
                    {% endif %}
                    {% endfor %}
                </div>

        </div>

        <div class="col-md-3">
                {% for i in range(0,Alluser|length,4 ) %}
                {% if i < (Alluser|length - 2) %}
                <a href="/user/{{Alluser[i+2].username}}">
                    <div class="mailGallery">
                        <div class="coverGallery"></div>
                        <div class="letterGallery"> <h1> {{Alluser[i+2].username}}</h1></div>
                    </div>
                </a>
            {% endif %}
            {% endfor %}
        </div>

        <div class="col-md-3">
                {% for i in range(0,Alluser|length,4 ) %}
                {% if i < (Alluser|length - 3) %}
                <a href="/user/{{Alluser[i+3].username}}">
                    <div class="mailGallery">
                        <div class="coverGallery"></div>
                        <div class="letterGallery"> <h1> {{Alluser[i+3].username}}</h1></div>
                    </div>
                </a>
            {% endif %}
            {% endfor %}
        </div>

        
    </div>
</div>



{% endblock %}
