{% extends "base.html" %}

{% block gallery %}
    <h1 class="center"> Welcome to Gallery</h1>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

<div class="center">
    <h4> Hello {{current_user.username}}! You are in {{current_user.family}} fam. </h4>
    <h4> You can click on these people to start writing your affirmations!</h4>
</div>

    {% for user in Users.query.all() %}
        <a href="/user/{{user.username}}">
            <div> <h4> {{user.username}} </h4></div>
            <br>
        </a>
    {% endfor %}



{% endblock %}
