{% extends "base.html" %}

{% block login %}

<div class="center">
    <h1> Login </h1>
    <div class="paper">
        <form action="" method="post" novalidate>
            {{ form.hidden_tag()}}

            <p>
                {{ form.username.label}}<br>
                {{ form.username(size=32)}}
            </p>

            <p>
                {{ form.password.label}} <br>
                {{ form.password(size=32)}}
            </p>
            
            <p>
                {{ form.submit()}}
            </p>
        </form>

    </div>
</div>

{% endblock %}