{% extends "base.html" %}

{% block login %}

<div class="center">
    <h1> Login </h1>
    <div id="loginpaper" class="paper">
        <form action="" method="post" novalidate>
            {{ form.hidden_tag()}}

                <h2>{{form.username.label}}</h2>
                {{ form.username(size=32)}}


                <h2>{{ form.password.label}}</h2>
                {{ form.password(size=32)}}

                <br>
                
                <button class="btn submit"> Login </button>
            
        </form>

    </div>
</div>

{% endblock %}