{% extends "base.html" %}

{% block message %}

<h1> Sending message to {{ToUser.username}} </h1>


<div id="messagePaper" class="center paper">
    <form action="" method = "post">
        {{ form.hidden_tag() }}
    
        <p>
            <h2>{{ form.userMessage.label}}</h2>
            {{ form.userMessage(size=128, class_='userMessage')}}
            <h3>{{ form.userFrom.label}}</h3>
            {{ form.userFrom(size=64)}}
        </p>
    
        <p>
            <button class="btn submit"> Send Message </button>
        </p>
    </form>
</div>


{% endblock %}