*{
    margin: 0;
    padding: 0;
  }
  

  .wrapper{
    /* position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); */
    position: absolute;
    left: 37%;
    margin-left: -50px;
  }
  
  .mail{
    width: 600px;
    height: 400px;
    background: #ff8789;
    position: relative;
    transform-style: preserve-3d;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    cursor: pointer;
    text-align:center;
  }
  
  
  /* THIS MAKES THE TRIANGLE */
  .mail:before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    border-left: 300px solid Transparent;
    border-right: 300px solid #ff393c;           /* MAKES THE MIDDLE RIGHT TRIANGLE*/
    border-top: 200px solid Transparent;
    border-bottom: 200px solid #ff393c;
    z-index: 5;
    border-bottom-right-radius: 10px;
  }
  
  .mail:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border-left: 300px solid #ff5355;
    border-right: 300px solid Transparent;
    border-top: 200px solid Transparent;
    border-bottom: 200px solid #ff5355;
    z-index: 4;
    border-bottom-left-radius: 10px;
  }
  
  
  /* THIS IS THE TOP FLAP */
  .cover:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border-left: 300px solid transparent;
    border-right: 300px solid transparent;
    border-top: 200px solid #ff8789;
    border-bottom: 200px solid transparent;
    z-index: 6;
    transform-origin: top;
    transform: rotateX(0deg);
    transition: all .5s 1s ease;
  }
  
  .letter{
    position: absolute;
    z-index: 3;
    top: 0px;
    left: 10px;
    background: #dedede;
    width: 580px;
    height: 400px;
    border-radius: 20px;
    transition: all 1s ease;
  }
  
  .letter h1{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 40px;
    color: #798992;
    font-weight: 900;
  }
  
  .mail:hover .cover:before{
    transform: rotateX(180deg);
    transition: all 1s ease;
  }




  /* ----------INBOX NOTE STYLING----------  */

  .flip-note{
    background-color: transparent;
    width: 350px;
    min-height: 200px;
    margin-bottom: 10px;
  }

  /* This container is needed to position the front and back side */
.flip-note-inner{
  position: relative;
  width: 350px;
  height: 200px;
  text-align:center;
  transition: 0.8s ease-in;
  transform-style: preserve-3d;
  left: 35%;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-note:hover .flip-note-inner{
  transform: rotateY(180deg) translateX(-40px);
  z-index: 10;
}


/* Position and hides the backside */
.flip-note-front, .flip-note-back{
  position: absolute;
  width: 100%;
  min-height: 200px;
  -webkit-backface-visibility: hidden;
  backface-visibility:hidden;
}

.flip-note-front{
  padding: 16%;
  background-color: #f5f4f4;
  color: #798992;
  border-left:rgb(187, 187, 187) solid 4px;
  border-bottom:rgb(187, 187, 187) solid 4px;
  overflow:auto;
  height: 200px;
}

.flip-note-back{
  background-color: #f3f3f3;
  color: #798992;
  transform: rotateY(180deg);
  border-left:rgb(187, 187, 187) solid 4px;
  border-bottom:rgb(187, 187, 187) solid 4px;
}


/* ATTEMPT TO MAKE WIDTH BIGGER ONLY IF TEXT EXCEED HEIGHT MAX WHEN HOVER */
/* .flip-note:hover .flip-note-inner{
  width: 550px;
  height: 500px;
  z-index: 10;
  transition: width 1s height 1s;
}
 */



