 
  #galleryBoard{
      margin-top: 10%
  }

  .mailGalleryBlue:hover, .mailGalleryRed:hover, .mailGalleryYellow:hover, .mailGalleryGreen:hover{ 
    transform: translateY(-8px);
}

.letterGallery h1{
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 4em;
  color: #00628B;
  font-weight: 900;

}

  /* THIS MAKES THE LETTER INSIDE THE ENVELOPE */
  .letterGallery{
    position: absolute;
    z-index: 3;
    top: 0px;
    left: 10px;
    background: #dedede;
    width: 290px;
    height: 200px;
    border-radius: 10px;
    transition: all 1s ease;
  }

/* THIS IS FOR RED FAM ENVELOPE */
  .mailGalleryRed{
    width: 300px;
    height: 200px;
    background: #ff8789;
    position: relative;
    transform-style: preserve-3d;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
    text-align:center;
    margin-bottom: 40%;
    left: 15%;
    transition: all .2s ease;
  }
  /* MAKES THE BOTTOM RIGHT TRIANGLE*/
.mailGalleryRed:before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    border-left: 150px solid Transparent;
    border-right: 150px solid #ff393c;         
    border-top: 100px solid Transparent;
    border-bottom: 100px solid #ff393c;
    z-index: 5;
    border-bottom-right-radius: 5px;
  }
  /* MAKES THE TOP LEFT TRIANGLE */
  .mailGalleryRed:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border-left: 150px solid #ff5355;
    border-right: 150px solid Transparent;
    border-top: 100px solid Transparent;
    border-bottom: 100px solid #ff5355;
    z-index: 4;
    border-bottom-left-radius: 5px;
  }
  /* THIS IS THE TOP FLAP */
  .coverGalleryRed:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border-left: 150px solid transparent;
    border-right: 150px solid transparent;
    border-top: 100px solid #ff8789;
    border-bottom: 100px solid transparent;
    z-index: 6;
    transform-origin: top;
    transform: rotateX(0deg);
    transform: rotateX(180deg);
  }





/* THIS IS FOR YELLOW FAM ENVELOPE */

.mailGalleryYellow{
  width: 300px;
  height: 200px;
  background: #f3f586;
  position: relative;
  transform-style: preserve-3d;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  cursor: pointer;
  text-align:center;
  margin-bottom: 40%;
  left: 15%;
  transition: all .2s ease;
}
/* MAKES THE BOTTOM RIGHT TRIANGLE*/
.mailGalleryYellow:before{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  border-left: 150px solid Transparent;
  border-right: 150px solid #ffe139;         
  border-top: 100px solid Transparent;
  border-bottom: 100px solid #ffe139;
  z-index: 5;
  border-bottom-right-radius: 5px;
}
/* MAKES THE TOP LEFT TRIANGLE */
.mailGalleryYellow:after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  border-left: 150px solid #ffee53;
  border-right: 150px solid Transparent;
  border-top: 100px solid Transparent;
  border-bottom: 100px solid #ffee53;
  z-index: 4;
  border-bottom-left-radius: 5px;
}
/* THIS IS THE TOP FLAP */
.coverGalleryYellow:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  border-left: 150px solid transparent;
  border-right: 150px solid transparent;
  border-top: 100px solid #f3f586;
  border-bottom: 100px solid transparent;
  z-index: 6;
  transform-origin: top;
  transform: rotateX(0deg);
  transform: rotateX(180deg);
}





/* THIS IF FOR BLUE FAM  */
.mailGalleryBlue{
  width: 300px;
  height: 200px;
  background: #87bbff;
  position: relative;
  transform-style: preserve-3d;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  cursor: pointer;
  text-align:center;
  margin-bottom: 40%;
  left: 15%;
  transition: all .2s ease;
}
/* MAKES THE BOTTOM RIGHT TRIANGLE*/
.mailGalleryBlue:before{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  border-left: 150px solid Transparent;
  border-right: 150px solid #3967ff;         
  border-top: 100px solid Transparent;
  border-bottom: 100px solid #3967ff;
  z-index: 5;
  border-bottom-right-radius: 5px;
}
/* MAKES THE TOP LEFT TRIANGLE */
.mailGalleryBlue:after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  border-left: 150px solid #5372ff;
  border-right: 150px solid Transparent;
  border-top: 100px solid Transparent;
  border-bottom: 100px solid #5372ff;
  z-index: 4;
  border-bottom-left-radius: 5px;
}
/* THIS IS THE TOP FLAP */
.coverGalleryBlue:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  border-left: 150px solid transparent;
  border-right: 150px solid transparent;
  border-top: 100px solid #87bbff;
  border-bottom: 100px solid transparent;
  z-index: 6;
  transform-origin: top;
  transform: rotateX(0deg);
  transform: rotateX(180deg);
}



/* THIS IF FOR GREEN FAM  */
.mailGalleryGreen{
  width: 300px;
  height: 200px;
  background: #7be072;
  position: relative;
  transform-style: preserve-3d;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  cursor: pointer;
  text-align:center;
  margin-bottom: 40%;
  left: 15%;
  transition: all .2s ease;
}
/* MAKES THE BOTTOM RIGHT TRIANGLE*/
.mailGalleryGreen:before{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  border-left: 150px solid Transparent;
  border-right: 150px solid #4bce2b;         
  border-top: 100px solid Transparent;
  border-bottom: 100px solid #4bce2b;
  z-index: 5;
  border-bottom-right-radius: 5px;
}
/* MAKES THE TOP LEFT TRIANGLE */
.mailGalleryGreen:after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  border-left: 150px solid #50d644;
  border-right: 150px solid Transparent;
  border-top: 100px solid Transparent;
  border-bottom: 100px solid #50d644;
  z-index: 4;
  border-bottom-left-radius: 5px;
}
/* THIS IS THE TOP FLAP */
.coverGalleryGreen:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  border-left: 150px solid transparent;
  border-right: 150px solid transparent;
  border-top: 100px solid #7be072;
  border-bottom: 100px solid transparent;
  z-index: 6;
  transform-origin: top;
  transform: rotateX(0deg);
  transform: rotateX(180deg);
}

