
  .pencil {
    width:40px;
    margin:-200px auto;
    transform:rotate(90deg);
    -ms-transform:rotate(90deg); /* IE 9 */ 
    -webkit-transform:rotate(90deg); /* Safari and Chrome */
  }
  .pencil .eraser {
    height:35px;
    width:40px;
    background: #EC87C0;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .pencil .ferrule {
    height:45px;
    width:40px;
    background: #CCD1D9;
  }
  
  .pencil .shaft {
    height:350px;
    width:40px;
    background: #FFCE54;
  }
  
  .pencil .lead {
      border-left: 20px solid transparent;
      border-right: 20px solid transparent;
      border-top: 80px solid #EBD4A9;
  }
  
  .pencil .lead:before {
    content: "";
    position: absolute;
    margin-top: -80px;
    border-right: 20px solid transparent;
    border-top: 80px solid #D1BD97;
  }
  
  .pencil .lead:after {
    content: "";
    position: absolute;
    margin-top:-21px;
    margin-left:-5px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 20px solid #1A1A1A;
  }

  .loginText{
    position:relative;
    transform: rotate(-90deg);
    top: 150px;
    font-size: 3em;
    color: #798992;
    text-decoration: none;
  }

  #clickAbove{
    font-size: 3.5em;
  }
